POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
DB_NAME=foodgram
DB_HOST=db
DB_PORT=5432
SECRET_KEY=django-insecure-$gxuz5dhzs^wfi4g@nm$2y*e81hh4r@mmhh1k14ab$*z(j8)!b