version: '3.3'

volumes:
  pg_data:
  static:
  media:

services:
  db:
    container_name: foodgram-db
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
  backend:
    container_name: foodgram-backend
    build: ./backend
    env_file: .env
    depends_on:
      - db
    volumes:
      - static:/static
      - media:/app/media
  frontend:
    container_name: foodgram-front
    build: ./frontend
    env_file: .env
    command: cp -r /app/build/. /frontend_static/
    volumes:
      - static:/frontend_static
  proxy:
    container_name: foodgram-proxy
    build: ./nginx/
    env_file: .env
    ports:
      - "8000:80"
    volumes:
      - static:/static
      - media:/media
    depends_on:
      - backend
